<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous" />
  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
    crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/cc38e1150e.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/login.css">
</head>

<body>
  <div class="container">

    <div class="box">
      Chit
    </div>
    <div class="login-form-class update-login-form-class">
      <div class="brand-name">ChitChat</div>
      <form action="/login" method="POST">
        <div class="form-group" style="padding: 8px;">
          <label for="uname" class="visually-hidden">Email or Username</label>
          <input class="form-control" type="text" name="username" id="uname" placeholder="Email or Username" required
            autofocus />
        </div>
        <div class="form-group" style="padding: 8px;">
          <label for="pswd" class="visually-hidden">Password</label>
          <input class="form-control" type="password" name="password" id="pswd" placeholder="Password" required
            autofocus />
        </div>
        <div class="form-group" style="padding: 8px;">
          <button class="btn btn-lg btn-primary btn-block" style="width: 100%;">Login!</button>
        </div>
      </form>
    </div>
    <div class="box">
      Chat
    </div>
  </div>

  <script src="/javascripts/login.js"></script>
</body>

</html>