<%- include('partials/header.ejs') %>

    <div class="container newsFeed-body">
        <!-- left block -->
        <div class="sticky left-block">
            <div
                style="color: black;font-size: 18px;font-weight: 22px;margin-bottom:10px; text-decoration: underline lightseagreen;">
                WHO'S FOLLOWNIG</div>
            <div class="friend-list-search">
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search Following..."
                        aria-label="Search">
                </form>
            </div>
            <div class="friend-list">
                <!-- //loop through friend-list -->
                <div class="friend-list-item testbg">
                    <img class="avatar avatar-margin dis-inline-block" src=" /img/profileD.png" alt="">
                    <span class="dis-inline-block">username</span>
                    <span class="add-friend-option">
                        <a class="btn-with-a" href="">Add friend</a>
                    </span>
                </div>
                <div class="friend-list-item testbg">
                    <img class="avatar avatar-margin dis-inline-block" src=" /img/profileD.png" alt="">
                    <span class="dis-inline-block">username</span>
                    <span class="add-friend-option">
                        <a class="btn-with-a" href="">Add friend</a>
                    </span>
                </div>

            </div>
        </div>

        <!-- right block -->
        <div class="sticky right-block">
            <div
                style="color: black;font-size: 18px;font-weight: 22px;margin-bottom:10px; text-decoration: underline lightseagreen;">
                FRIENDS</div>
            <div class="friend-list-search">
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search Contacts..."
                        aria-label="Search">
                </form>
            </div>
            <div class="friend-list">
                <!-- //loop through friend-list -->
                <div class="friend-list-item testbg">
                    <img class="avatar avatar-margin dis-inline-block" src=" /img/profileD.png" alt="">
                    <span class="dis-inline-block">username</span>
                    <span class="friend-status">
                        <a class="btn-with-a" href="">status here "</a>
                    </span>
                </div>
                <div class="friend-list-item testbg">
                    <img class="avatar avatar-margin dis-inline-block" src=" /img/profileD.png" alt="">
                    <span class="dis-inline-block">username</span>
                    <span class="friend-status">
                        <a class="btn-with-a" href="">status here "</a>
                    </span>
                </div>

            </div>
        </div>

        <!-- center block -->
        <div class="list-of-status">
            <!-- loop here to list out all status -->
            <img src="/img/statusD.jfif" alt="status not found" class="status-img">

        </div>
        <div class="post-form">
            <div class="post-form-l1">
                <img class="avatar avatar-margin" src="/img/profileD.png" alt="profileD.png not found!">
                <!-- <form action=""> -->
                <input class="post-input" type="text" placeholder="What's on your mind, username ?" aria-label="post" />
                <hr>
                <div class="row">
                    <div class="col-4">
                        <a href="#" class="btn-with-a">
                            <!-- <img src="" alt="!"> -->
                            Photo/Video
                        </a>
                    </div>
                    <div class="col-4">
                        <a href="#" class="btn-with-a">
                            <!-- <img src="" alt="!">  -->
                            Tag Friends
                        </a>
                    </div>
                    <div class="col-4">
                        <a href="#" class="btn-with-a">
                            <!-- <img src="" alt="!">  -->
                            Feeling/Activity
                        </a>
                    </div>

                </div>
                <!-- </form> -->
            </div>

        </div>

        <!-- loop on post content to post content here -->
        <div class="post-list">
            <div class="container post-data-with-information">
                <img class="avatar avatar-margin" src="/img/profileD.png" alt="profileD.png not found!">
                <span>username who posted this post</span>
                <div class="time-position">time when posted</div>
                <div class="post-summary">Hello bunty hamesha se pro hai samjha</div>
                <img class="img-or-video" src="/img/statusD.jfif" alt="">
                <div class="reacted-people">
                    me,bunty and 5 others
                </div>
                <div class="comments-count">
                    <a data-wow="1" class="Comments">
                        4 Comments
                    </a>
                </div>
                <hr class="dropdown-divider">
                <div class="row" style="margin-left: 1vw;">
                    <div class="col-4">
                        👍Like
                    </div>
                    <div class="col-4">
                        <a data-wow="1" class="Comments">
                            🔽Comment
                        </a>
                    </div>
                    <div class="col-4">
                        🔀Share
                    </div>
                </div>
                <hr class="dropdown-divider">
                <div class="Comments-Hide">
                    <!-- loop through comment model to display here -->
                    bunty pro hai
                </div>
            </div>








            <!-- d extra one  -->
            <div class="post-data-with-information">
                <img class="avatar avatar-margin" src="/img/profileD.png" alt="profileD.png not found!">
                <span>username who posted this post</span>
                <div class="time-position">time when posted</div>
                <div class="post-summary">Hello bunty hamesha se pro hai samjha</div>
                <img class="img-or-video" src="/img/statusD.jfif" alt="">
                <div class="reacted-people">
                    me,bunty and 5 others
                </div>
                <div class="comments-count">
                    <a data-wow="2" class="Comments">
                        4 Comments
                    </a>
                </div>
                <hr class="dropdown-divider">
                <div class="row" style="margin-left: 1vw;">
                    <div class="col-4">
                        👍Like
                    </div>
                    <div class="col-4">
                        <a data-wow="2" class="Comments">
                            🔽Comment
                        </a>
                    </div>
                    <div class="col-4">
                        🔀Share
                    </div>
                </div>
                <hr class="dropdown-divider">
                <div class="Comments-Hide">
                    <!-- loop through comment model to display here -->
                    <!-- one comment  -->
                    <div class="who-commented ">
                        <img class="avatar avatar-margin dis-inline-block" src="/img/profileD.png" alt="">
                        <div class="comment-section dis-inline-block">
                            bunty noob hai
                            bunty noob haibunty noob haibunty noob haibunty noob haibunty noob haibunty noob hai
                            bunty noob haibunty noob haibunty noob haibunty noob haibunty noob haibunty noob hai
                            bunty noob haibunty noob haibunty noob haibunty noob haibunty noob haibunty noob hai
                            bunty noob haibunty noob haibunty noob haibunty noob haibunty noob haibunty noob hai
                        </div>

                        <div class="feature-on-comment">
                            <div class="row" style="margin-left: 1vw;">
                                <div class="col-4 add-on">
                                    👍like
                                </div>
                                <div class="col-4 add-on">
                                    <a data-wow="2" class="Comments">
                                        reply
                                    </a>
                                </div>
                                <div class="col-4 add-on">
                                    report
                                </div>
                            </div>
                        </div>

                        <div class="comment-inherited">
                            tu galat hai
                        </div>
                    </div>
                    <!-- one comment -->

                </div>
            </div>

        </div>
    </div>

    <script src="/javascripts/newsfeed.js"></script>
    <%- include('partials/footer.ejs') %>