<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous" />
  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
    crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/cc38e1150e.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/signup.css">
</head>

<body>
  <div class="left">

  </div>
  <div class="container">
    <div class="box">
      Chit
    </div>
    <div class="signup-form-class">
      <div class="brand-name">Sign Up</div>
      <form action="/v1/users" method="POST">
        <div class="form-group">
          <input class="form-control" type="text" placeholder="First Name" name="firstname" required />
        </div>
        <div class="form-group">
          <input class="form-control" type="text" placeholder="Last Name" name="lastname" />
        </div>
        <div class="form-group">
          <input class="form-control" type="text" placeholder="Email" name="email" required />
        </div>
        <div class="form-group">
          <input class="form-control" type="text" placeholder="Phone Number" name="phoneNumber" required />
        </div>
        <div class="form-group">
          <input class="form-control" type="text" placeholder="username" name="username" required />
        </div>
        <div class="form-group">
          <input class="form-control" type="text" name="DOB" placeholder="Date of Birth" required />
        </div>
        <div class="form-group">
          <input class="form-control" type="password" name="password" placeholder="Password" required />
        </div>
        <div class="form-group">
          <input class="form-control" type="password" name="passwordConfirm" placeholder="Confirm Password" required />
        </div>
        <div class="form-group">
          <button class="btn btn-lg btn-primary btn-block signup-btn">Sign Up</button>
        </div>
      </form>
    </div>
    <div class="box">
      Chat
    </div>
  </div>
  <script src="/javascripts/signup.js"></script>
  <!-- <img src="https://picsum.photos/200/300" alt=""> -->
</body>

</html>