.profile-card-outside {
  margin-top: 84px;
  height: 400px;
  background-color: rgb(36, 37, 39);
  width: 100%;
}
.profile-card-inside {
  margin-top: 80px;
  height: 270px;
  background-color: rgb(24, 25, 26);
  max-width: 700px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 0;
  z-index: -1;
}
.profile-avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-top: -160px;
  z-index: 1;
}
.profile-name {
  font-size: 30px;
  font-weight: 400;
  color: white;
  font-family: cursive;
  margin-top: -10px;
  text-transform: capitalize;
}
.profile-separtor {
  max-width: 700px;
  color: white;
}
.profile-navbar-inline {
  margin-left: 100px;
  max-width: 700px;
  float: left;
  height: 100px;
}
.profile-navbar-items {
  display: inline;
  color: white;
  text-align: center;
  margin-left: 3px;
  margin-right: 3px;
  padding: 8px 15px 8px 15px;
  border-radius: 8px;
  font-size: 16px;
  font-family: cursive;
  font-weight: 200;
  cursor: pointer;
}
.profile-navbar-items:hover {
  background-color: rgb(156, 157, 158);
}

.profile-content {
  max-width: 700px;
  margin: 0 auto;
  height: auto;
}

.profile-left-block {
  height: 169px;
  float: left;
  background-color: rgb(36, 37, 39);
  border-radius: 8px;
  width: 240px;
  margin-top: 25px;
  display: block;
}
@media screen and (max-width: 800px) {
  .profile-left-block {
    display: none;
  }
}
.profile-post-content {
  width: 100%;
  border-radius: 8px;
  margin-top: 35px;
}

.profile-post-form-add-margin {
  margin-top: 0px;
}
.profile-content-top {
  height: auto;
  max-width: 700px;
  align-self: center;
}
.profile-post-list {
  width: 640px;
  margin: 125px auto;
}
.profile-intro-box {
  color: white;
  font-size: 18px;
  font-family: cursive;
  font-weight: 400;
  margin-bottom: 10px;
}
.intro-box-item {
  font-size: 14px;
  border-width: 20px;
  border-bottom: white;
  border-top: white;
  font-family: cursive;
  color: white;
  padding: 6px 2px 6px 2px;
}
.intro-box-item-edit {
  font-weight: 200;
  margin-left: 4px;
  margin-right: 4px;
  background-color: rgb(132, 138, 133);
  border-radius: 5px;
}
.intro-box-item-edit:hover {
  background-color: rgb(81, 83, 82);
  border-radius: 5px;
}
.about-user {
  max-width: 700px;
  margin: 35px auto;
  /* height: auto; */
  background-color: blue;
  height: 200px;
  display: none;
}

.profile-friend-section {
  max-width: 700px;
  margin: 35px auto;
  /* height: auto; */
  background-color: blue;
  height: 200px;
  display: none;
}
.profile-photo-section {
  max-width: 700px;
  margin: 35px auto;
  /* height: auto; */
  background-color: rgb(112, 12, 34);
  height: 200px;
  display: none;
}
.add-cover-photo{
  font-size: 16px;
  z-index: 2;
  margin-top: -500px;
  padding: 0;
  cursor: pointer;
  color: white;
  margin-left: 78%;
 
  background-color: rgb(36, 37, 39);
  padding:7px 7px 7px 7px;
  border-radius: 8px;
}
.add-cover-photo:hover{
  background-color: rgb(60, 61, 63);
  padding:7px 7px 7px 7px;
  border-radius: 8px;
}
.upload-cover-photo-confirm{
  display: none;
  z-index: 2;
  margin-top: -263px;
  height: 40px;
  background-color: rgb(21,19,23);
  opacity: 0.5;
  left:0;
  right: 0;
  position: absolute; 

}
.confirm-top-left-data{
  float:left;
  font-size:18px;
  margin-top:5px;
  font-style: italic;
  margin-left: 22px;
  color: white;
}
.confirm-top-right-button{
  margin-top:5px;
  margin-left: 5px;
  color: white;
  background-color: rgb(36, 37, 39);
  text-decoration: none;
  border:0;
  outline: none;
  height:32px;
  border-radius: 8px;
}
.confirm-top-right-button:hover{
  background-color: rgb(81, 83, 82);
  outline: thin;
}