.polgon-box {
  clip-path: polygon(0 0, 100% 0, 100% 65%, 0 84%);
  background-color: orange;
  width: 100%;
  height: 600px;
  z-index: -1;
}

.signup-form-class {
  max-width: 400px;
  border-radius: 8px;
  border-width: 2px;
  background-color: darkgray;
  float: right;
  z-index: inherit;
  margin: auto;
  margin-top: 5vh;
  margin-bottom: 5vh;
  margin-left: 1vw;
  margin-right: 1vw;
  text-align: center;
  padding-left: 50px;
  padding-top: 50px;
  padding-right: 50px;
  padding-bottom: 30px;
}
.brand-name {
  font-size: 50px;
  font-family: cursive;
  font-weight: 200;
  padding: 0.75vh;
  margin-bottom: 18px;
  align-self: center;
}
.signup-btn {
  margin-top: 20px;
}

* {
  margin: 0;
  padding: 0;
}
.container {
  background: #f0f0f0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 100vw;
  height: 100vh; */
}
@media screen and (min-width: 800px) {
  .left {
    display: inline;
    height: 100vh;
    width: 120px;
    float: left;
    background-color: blue;
  }
}

@media screen and (max-width: 800px) {
  .box {
    border-radius: 20px;
    width: 60px;
    height: 60px;
    background: #f0f0f0;
    box-shadow: 0 0 0 #cccccc, 0 0 0 #ffffff, 10px 10px 10px #cccccc inset,
      -10px -10px 10px #ffffff inset;
    animation: animeHalf 3s cubic-bezier(0.16, 1, 0.3, 1) 1s infinite alternate;
    /* animation-fill-mode: forwards; */
  }
}

@keyframes animeHalf {
  0% {
    width: 60px;
    height: 60px;
    background: red;
    font-size: 0px;
    /* padding: 30px 30px 30px 30px; */
    box-shadow: 0 0 0 #cccccc, 0 0 0 #ffffff, 10px 10px 10px #cccccc inset,
      -10px -10px 10px #ffffff inset;
  }
  50% {
    width: 60px;
    height: 60px;
    background: orange;
    font-size: 20px;
    font-family: fantasy;
    padding: 18px 15px 22px 15px;
    box-shadow: 10px 10px 10px #cccccc, 10px 10px 10px #ffffff,
      0 0 0 #cccccc inset, 0 0 0 #ffffff inset;
  }
  100% {
    width: 60px;
    height: 240px;
    background: green;
    font-size: 25px;
    font-family: fantasy;
    padding: 90px 20px 90px 10px;
    box-shadow: 10px 10px 10px #cccccc, 10px 10px 10px #ffffff,
      0 0 0 #cccccc inset, 0 0 0 #ffffff inset;
  }
}

/*  */
@media screen and (min-width: 800px) {
  .box {
    border-radius: 20px;
    margin-left: 12px;
    margin-right: 12px;
    width: 60px;
    height: 60px;
    background: #f0f0f0;
    box-shadow: 0 0 0 #cccccc, 0 0 0 #ffffff, 10px 10px 10px #cccccc inset,
      -10px -10px 10px #ffffff inset;
    animation: animeFull 3s cubic-bezier(0.16, 1, 0.3, 1) 1s infinite alternate;
    /* animation-fill-mode: forwards; */
  }
}

@keyframes animeFull {
  0% {
    width: 60px;
    height: 60px;
    background: red;
    font-size: 0px;
    /* padding: 30px 30px 30px 30px; */
    box-shadow: 0 0 0 #cccccc, 0 0 0 #ffffff, 10px 10px 10px #cccccc inset,
      -10px -10px 10px #ffffff inset;
  }
  25% {
    width: 60px;
    height: 60px;
    background: orange;
    font-size: 20px;
    font-family: fantasy;
    padding: 18px 15px 22px 15px;
    box-shadow: 10px 10px 10px #cccccc, 10px 10px 10px #ffffff,
      0 0 0 #cccccc inset, 0 0 0 #ffffff inset;
  }
  50% {
    width: 60px;
    height: 240px;
    background: green;
    font-size: 25px;
    font-family: fantasy;
    padding: 90px 20px 90px 10px;
    box-shadow: 10px 10px 10px #cccccc, 10px 10px 10px #ffffff,
      0 0 0 #cccccc inset, 0 0 0 #ffffff inset;
  }
  100% {
    width: 350px;
    height: 240px;
    background: blue;
    /* background-image: url('https://picsum.photos/200/300'); */
    font-size: 80px;
    font-family: fantasy;
    padding: 60px 135px 140px 105px;
    box-shadow: 40px 40px 40px #cccccc, 0 0 0 #ffffff, 0 0 0 #cccccc inset,
      2px 2px 2px #ffffff inset;
  }
}
